@import "../../Utility/colors.css";
/* Sidebar is hidden by default */
.sidebar {
  width: 240px;
  background-color: var(--sidebar);
  color: var(--black);
  padding: 20px;
  height: 100vh;
  box-shadow: 20px 0 20px var(--box_shadow_sidebar);
  transform: translateX(-100%); 
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar-wrapper:hover .sidebar {
  transform: translateX(0);
}

/* Hover zone */
.sidebar-wrapper {
  position: relative;
  width: 40px; /* small hover zone on the side */
  height: 100vh;
}

.sidebar-wrapper:hover {
  width: 240px;
}

/* Links */
.nav-links {
  display: flex;
  flex-direction: column;
}

.nav-links a {
  color: var(--black);
  text-decoration: none;
  position: relative;
  margin: 15px 0;
  padding: 8px 0;
  font-weight: 500;
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: var(--black);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.logout-btn {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: var(--red);
  color: var(--white);
  border: none;
  width: 90%; /* Set width of buttons to 48% */
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: var(--hover_red);
}
